.container-fluid
  .head(style="background-image: url('https://rscard.px-lab.com/html/img/uploads/rs-cover.jpg')")
  nav.navbar.head_nav.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='#') BlogCuaBang
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.d-lg-flex.justify-content-lg-end
        ul.navbar-nav
          li.nav-item.m-3.p-2
            a.nav-link.active.fw-bold(aria-current='page' href='#') ABOUT
          li.nav-item.m-3.p-2
            a.nav-link(href='#') SKILLS
          li.nav-item.m-3.p-2
            a.nav-link(href='#') PORTFOLIO
          li.nav-item.m-3.p-2
            a.nav-link(href='#') EXPERIENCE
          li.nav-item.m-3.p-2
            a.nav-link(href='#') BLOG
          li.nav-item.m-3.p-2
            a.nav-link(href='#') CONTACT

